/* SPDX-License-Identifier: MPL-2.0 */
/*
  Copyright (C) 2019 The Dat Recipies Authors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/*
* custom variables
*/

:root {
  --recipies-background-color: #b3daff;
  --recipies-foreground-color: #e6f3ff;
  --recipies-hover-color: #66b5ff;
  --recipies-delete-color: red;

  --mk-image-drop-dragover-color: purple;
  --mk-image-drop-background-color: grey;
  --mk-image-drop-text-color: white;
}

@font-face {
  font-family: 'sansforgetica-regular';
  src: url("./.ui/assets/font/SansForgetica.otf") format("opentype"),
       url('./.ui/assets/font/SansForgetica-Regular.woff2') format('woff2'),
       url('./.ui/assets/font/SansForgetica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
* make content fill 100% of screen without scrollbars
*/
html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    widht: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    /*font-family: 'sansforgetica-regular';*/
}
